@charset "UTF-8";

body {
    background-color: red;
}

main {
    background-color: blue;
    color: black;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 12px, 12px, black;
}